/* font-family: 'Fondamento', cursive;
font-family: 'Merienda One', cursive;
font-family: 'Modak', cursive;
font-family: 'Zilla Slab', serif; */

/* font-family: 'DM Sans', sans-serif;
font-family: 'Merienda One', cursive; */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'DM Sans', sans-serif !important;
  background-color: white;
}

*:focus {
  outline: 0;
  outline: none;
}

.MuiTypography-body1, .MuiTypography-body2 {
  font-family: 'DM Sans', sans-serif !important;
}

/* Navbar */

.fixed-nav {
  background-color: #fff !important;
  color: #000 !important;
  position: fixed !important;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  margin-top: 0 !important;
}

.logo-box {
  margin: 0;
  padding: 0px;
  display: inline-block;
}

.developer-name {
  font-family: Brush Script MT !important;
  font-size: 30px !important;
  color: #fff !important;
  font: bold !important;
  text-decoration: underline !important;
}

.navigations {
  float: right !important;
  margin-top: 10px;
}

.navigations ul {
  margin: 0px;
  padding: 0px 30px 0px 0px;
  list-style: none;
  display: flex;
  float: right !important;
}

.navigations ul li {
  list-style: none !important;
}

.navLinks {
  display: block;
  color: #fff;
  padding: 0px 12px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: bold;
  font-size: 14px;
}

.navLinks:hover {
  color: #fff;
  text-decoration: none;
}

.underline:after {
  display: block;
  content: '';
  border-bottom: solid 3px #ffff00;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 100% 50%;
}

.underline:hover:after, .underline:focus:after, .underline:active:after {
  transform: scaleX(1);
  transform-origin: 0 50%;
}

/* Navbar */

.title {
  font-family: 'Fondamento', cursive;
  color: #000;
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 50px !important;
}

.title:after {
  margin: 20px auto 0px;
}

.title:after {
  content: "";
  display: block;
  height: 4px;
  width: 80px;
  background-color: #0095FF;
  margin-top: 20px;
}

.text-align {
  text-align: center !important;
}

.img-responsive {
  width: 100%;
  height: auto;
  display: block;
}
